$loader-color:            #0f59e4 !default;
$loader-size:                  16px !default;
$loader-height:                10px !default;
$loader-border-size:            8px !default;
$loader-gap:                   12px !default;
$loader-animation-duration:   500ms !default;